

.grayOne {
    background-color: var(--gray-scale-one);
    color: var(--dark-text);
}

.grayTwo {
    background-color: var(--gray-scale-two);
    color: var(--dark-text);
}

.grayThree {
    background-color: var(--gray-scale-three);
    color: var(--light-text);
}

.grayFour {
    background-color: var(--gray-scale-four);
    color: var(--light-text);
}

.grayFive {
    background-color: var(--gray-scale-five);
    color: var(--light-text);
}

.graySix {
    background-color: var(--gray-scale-six);
    color: var(--light-text);
}

.graySeven {
    background-color: var(--gray-scale-seven);
    color: var(--dark-text);
}