.section {
    height: 100vh;
}

#sectionOne {
    background-color: var(--gray-scale-one);
    color: var(--dark-text);
}

#sectionTwo {
    background-color: var(--gray-scale-two);
    color: var(--dark-text);
}

#sectionThree {
    background-color: var(--gray-scale-three);
    color: var(--light-text);
}

#sectionFour {
    background-color: var(--gray-scale-four);
    color: var(--light-text);
}

#sectionFive {
    background-color: var(--gray-scale-five);
    color: var(--light-text);
}

#sectionSix {
    background-color: var(--gray-scale-six);
    color: var(--light-text);
}

#sectionSeven {
    background-color: var(--gray-scale-seven);
    color: var(--dark-text);
}